<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="863793de-4c19-4094-9f04-883b2e47de65" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://localhost:1234" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="863793de-4c19-4094-9f04-883b2e47de65fileName">http%3A%2F%2Flocalhost%3A1234</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:1234</con:endpoint></con:endpoints></con:interface>